/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import "tailwindcss";

@theme {
  --font-hand: "Kalam", cursive, sans-serif;
}

@layer utilities {
  .paper-bg {
    background-color: #fdfbf7;
    background-image: linear-gradient(transparent 95%, #cbd5e1 95%);
    background-size: 100% 3.5rem;
    background-position: 0 3.5rem;
  }
  
  .drawn-box {
    border-radius: 2px 4px 3px 2px / 4px 2px 4px 3px;
  }
}
